@import "colors";

article.movie {
	height: 400px;
	img {
		width: 200px;
		float: left;
		margin-right: 15px;
		border-radius: 15px;
	}
}



article.movie-show {
	height: 600px;

	.show-page-image img{
		width: 300px;
		float: left;
		border-radius: 15px;
		margin-right: 15px;
	}
}