// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.review {
	border-top: 2px solid $primary-color;
	float: left;
	width: 100% ;
	margin-top: 20px;
}
